@import "minireset";
@import "normalize.scss";
@import "fonts";
@import "vars.scss";
@import "mixins.scss";

%vertical-divide {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 16px;
  background: #003a8c;
}

:root {
  font-size: 62.5%;
}

body {
  @include font($font, 1.4rem, 400);
  line-height: 1.571;
  color: $text;
  background-color: $background-main;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.main__container {
  display: flex;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

@import "header";
@import "aside";
@import "feed";

@import "footer";
@import "media";
