$text: #595959;
$accent-text: #262626;
$background: #0050B3;
$accent-color: #1890ff;
$background-main: #E5E5E5;
$font: 'SF Pro Display',
sans-serif;
$grey-6: #bfbfbf;

%vertical-divide {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 16px;
  background: #003a8c;
}

%horizontal-divide {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e8e8e8;
  margin: 0 auto 1.6rem auto;
}
